  .header {
      color: #fff;
      display: flex;
      align-items: center;
      height: 80px;
      height: 11.1vh;
      background-color: rgba(124, 123, 123, 0.719);
      box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
  }
  
  .header-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .header-title {
      font-size: 35px;
      color: #f0f0f0;
      text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
  }
  
  .form-label {
      margin: 0 10px;
      font-size: 20px;
      color: #f0f0f0;
      text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
  }
  
  #input-select {
      width: 200px;
      height: 30px;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      outline: none;
      padding: 0 10px;
      margin: 5px;
      box-shadow: 0 1px 5px rgba(10, 70, 10, 0.2);
      transition: all .3s ease;
      position: relative;
  }
  
  .select-form {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 10px;
      position: relative;
      flex-wrap: wrap;
  }
  
  .input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }
  
  .fa-search {
      position: absolute;
      color: #000;
      right: 20px;
  }
  
  //   .search {
  //       margin: 5px;
  //       position: relative;
  //       display: inline-block;
  //       font-size: 90%;
  //       font-weight: 700;
  //       color: rgb(209, 209, 217);
  //       text-decoration: none;
  //       text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
  //       padding: .5em 1em;
  //       outline: none;
  //       border-radius: 3px;
  //       background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
  //       box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
  //       transition: .2s ease-in-out;
  //       &:hover:not(:active) {
  //           cursor: pointer;
  //           background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
  //       }
  //       &:active {
  //           cursor: pointer;
  //           top: 1px;
  //           background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
  //           box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
  //       }
  //   }