.main-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    border-radius: 5px;
    color: rgb(224, 220, 220);
    position: relative;
}

.main-table {
    height: 100%;
    margin: 0 2px;
}

.main-table_left {
    flex-grow: .5;
    width: 100%;
}

.main-table_middle {
    flex-grow: 2.8;
    width: 100%;
    // min-width: 300px;
}

.main-table_right {
    flex-grow: .7;
    width: 100%;
}

.main-subtable {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #282828;
    border: 1px solid rgb(105, 2, 2);
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0;
}

.main-subtable-middle {
    display: flex;
    width: 100%;
}

.subtable-global-sick,
.subtable-case-deaths,
.subtable-case-recovered {
    padding-top: 10px;
    padding-bottom: 30px;
}

.subtable-case-recovered,
.main-subtable-date {
    margin-left: 2px;
}

//height block
.subtable-global-sick {
    height: 14.5vh;
}

.subtable-map {
    height: 74.4vh;
}

.subtable-country {
    height: 68.1vh;
}

.subtable-update {
    height: 8.4vh;
}

.subtable-statistics {
    height: 50vh;
}

.subtable-diagram {
    height: 32.8vh;
}

//
.global-case {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

.global-case-sick {
    color: rgb(230, 0, 0);
}

.global-case-deaths {
    color: rgb(255, 143, 52);
}

.global-case-recovered {
    color: rgb(112, 168, 0);
}

.map-case {
    width: 100%;
    // max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#map {
    // max-width: 1000px;
    height: 1000px;
    width: 100%;
    margin: 0 auto;
}

.table-title {
    margin: 3px 0 5px;
}

.table-title-country {
    margin-bottom: 10px;
}

.headline_cases,
.headline_deathes,
.headline_recovered {
    // position: absolute;
    // bottom: 13px;
    text-align: center;
    margin: 3px 0;
    font-style: italic;
}

//button slider
.fa-caret-square-right {
    font-size: 25px;
    position: absolute;
    bottom: 4px;
    right: 5px;
    &:hover {
        cursor: pointer;
        color: rgb(189, 183, 183);
    }
}

.fa-caret-square-left {
    font-size: 25px;
    position: absolute;
    bottom: 4px;
    left: 5px;
    &:hover {
        cursor: pointer;
        color: rgb(189, 183, 183);
    }
}

.country {
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.658);
}

.country:hover {
    opacity: 0.8;
}

.country-active {
    background-color: rgb(109, 105, 105);
}

//scroll
.case-country {
    overflow-y: scroll;
    height: 243px;
    width: 100%;
    overflow-x: hidden;
}

.list_of_countries {
    width: 100%;
}

.case-country-sick .case-country {
    max-height: 415px;
    height: 100%;
}

.case-country-sick .color-prop {
    color: rgb(230, 0, 0);
}

.case-country-deathes .color-prop {
    color: rgb(255, 143, 52);
}

.case-country-recovered .color-prop {
    color: rgb(112, 168, 0);
}

//close btn
.circle-btn {
    display: none;
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 22px;
    color: rgb(87, 85, 85);
    z-index: 1004;
}

.circle-btn:hover {
    cursor: pointer;
    color: rgb(180, 177, 177);
}

//open section
.main-subtable-open {
    position: absolute;
    width: 100%;
    height: 100%;
    // height: 100vh;
    top: 0;
    left: 0;
    z-index: 1003;
    & .global-case {
        font-size: 60px;
    }
    & h4 {
        font-size: 30px;
    }
    & .table-title {
        font-size: 30px;
    }
    & .case-country {
        max-height: 500px;
    }
}

.main-subtable-open .case-diagram {
    max-width: 1000px;
    width: 100%;
}

.map-icon {
    width: 20px;
}

.case-diagram {
    max-width: 400px;
    width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myChart {
    cursor: pointer;
}

// legend of map
.fa-list-ul {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #413e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    font-size: 20px;
    cursor: pointer;
}

.legend_map_active .legend_about {
    display: block;
    position: absolute;
    right: 20px;
    top: 60px;
    max-width: 250px;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background-color: #413e3e;
    z-index: 1002;
    transition: all .5s;
}

.legend_about {
    display: none;
    transition: all .5s;
}

.legend_title {
    max-width: 250px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #646363;
    padding-top: 6px;
    font-size: 18px;
}

.legend_subtitle {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.legend_list {
    overflow-y: scroll;
    height: 150px;
    margin: 0 auto;
    li {
        padding: 10px 10px;
        // span {
        //     padding: 0 10px;
        // }
    }
}

.fa-circle {
    padding: 0 10px;
}

.legend_list li:nth-child(1) {
    font-size: 25px;
}

.legend_list li:nth-child(2) {
    font-size: 20px;
}

.legend_list li:nth-child(3) {
    font-size: 18px;
}

.legend_list li:nth-child(4) {
    font-size: 15px;
}

.legend_list li:nth-child(5) {
    font-size: 10px;
}

.left-map,
.right-map {
    color: rgb(73, 72, 72);
}
.headline {
    position: absolute;
    z-index: 401;
    color: #494747;
    top: 15px;
    font-size: 16px;
    font-weight: 600;
}
